<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

  <%= form_tag(:action => 'create') do %>
     <%=label(:username, "Username") %>
     <%= text_field_tag(:username)%>

     <%=label(:password, "Password") %>
     <%= password_field_tag(:password) %>
     <%= submit_tag("Login") %>

  <% end %>

  <%= link_to('Wanna create a new account?', '/signup', class: 'link-to-signup')%>
