<!-- send values of user to action create /users as defined on our routes -->
<!-- controller/route -->
<!-- root/route -->


  <div class="form-wrapper">
    <h1>Trollr</h1>
    <div class="header-title">
      <p>Login or Signup to View a "Secret Page"</p>
    </div>
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
      <%= form_for(:user, url: '/users') do |f| %>
        <%=f.label(:username, "Username") %>
        <%= f.text_field(:username)%> <br>

        <%= f.label(:email, "Email")%>
        <%=f.text_field(:email)%> <br>

        <%= f.label(:password, "Password")%>
        <%= f.password_field(:password) %> <br>

        <%= f.label(:password_confirmation, "Confirm Password") %>
        <%=f.password_field(:password_confirmation)%> <br>

        <%= f.submit("Sign Up") %>
      <% end %>
      <%= link_to('Already an existing user?', {controller: 'sessions', action: 'new'}, class: 'link-to-login')%>
    </div>
