<!DOCTYPE html>
<html>
<head>
  <title>Trollr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body class="preload">
    <div class="container">
      <div class="form-wrapper">
        <!-- <div class="animated fadeInUp preload"> -->
          <h1><%= @page_title = "Trollr"%></h1>
            <div class="header-title">
              <p>Login or Signup to View a "Secret Page"</p>
            </div>
          <!-- </div> -->
          <%= yield %>
      </div>
    </div>
  </body>
</html>
